/* Nascondi le barre di scorrimento in modo che non siano visibili, ma il contenuto è ancora scrollabile */
.scroll-hidden::-webkit-scrollbar {
    display: none;  /* per Chrome, Safari, e Opera */
}

.scroll-hidden {
    -ms-overflow-style: none;  /* per IE e Edge */
    scrollbar-width: none;  /* per Firefox */
    overflow: hidden;  
    /* Mantenere lo scorrimento verticale se necessario */
}

/* Transizione quando il mese è aperto */
.open-month {
    width: 450px;
    transition: width 1s;
    z-index: 5;
    overflow: hidden;
}

/* Transizione quando il mese è chiuso */
.closed-month {
    width: 100px;
    transition: width 1s;
    z-index: 10;
    overflow: hidden;
}


/* Media query per tablet (>= 768px e < 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .open-month {
        width: 2800px;
        margin-right: -2rem;  
    }
    .closed-month {
        width: 300px;
    }
}

/* Media query per mobile (< 768px) */
@media (max-width: 767px) {
    .open-month {
        width: 1600px;
    }
    .closed-month {
        width: 300px;
    }
}