/* Nascondi le barre di scorrimento in modo che non siano visibili, ma il contenuto è ancora scrollabile */
.scroll-hidden::-webkit-scrollbar {
    display: none;  /* per Chrome, Safari, e Opera */
}

.scroll-hidden {
    -ms-overflow-style: none;  /* per IE e Edge */
    scrollbar-width: none;  /* per Firefox */
    overflow: hidden;  
    /* Mantenere lo scorrimento verticale se necessario */
}

/* Transizione quando il mese è aperto */
.open-month {
    width: 3800px;
    transition: width 1s;
    z-index: 5;
    max-width: 100%;
    overflow: hidden;
    

}

/* Transizione quando il mese è chiuso */
.closed-month {
    width: 700px;
    transition: width 1s;
    z-index: 10;
    overflow: hidden;

}
/* Media query per large screen (>= 1024px) */
@media (min-width: 1024px) {
    .open-month {
        width: 3800px;
        
    }

    .closed-month {
        width: 700px;
        
    }
}

/* Media query per tablet (>= 768px e < 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .open-month {
        width: 3850px;
        
    }

    .closed-month {
        width: 620px;
    }
}

/* Media query per mobile (< 768px) */
@media (max-width: 767px) {
    .open-month {
        width: 100%;
    }

    .closed-month {
        width: 100%;
    }
}