matchesBackup.jsx
matchesOriginal.jsx

0CssMainStyle.jsx

0SerieAMatches.jsx
1main.jsx
2dateMatches.jsx
3coppaItaMatches.jsx

meseView.jsx
calcCalend.jsx
calcIncontri.jsx

colonne.jsx
pagCoppaIta.jsx

ATrentaduesimi.jsx
BTrentaduesimi.jsx
ASedicesimi.jsx
BSedicesimi.jsx

3OttavoA.jsx
3OttavoB.jsx
4QuartoA.jsx
4QuartoB.jsx
5SemifinaleA.jsx
5SemifinaleB.jsx
6Finale.jsx

calendario24.jsx
0aCalendarioCurrent.jsx
# -------------

server.js
giornate.js

vserieA.json