/* Stile globale per rimuovere la freccia dalle select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ccc; /* Aggiusta il bordo come necessario */
  padding: 8px; /* Aggiusta il padding se necessario */
  border-radius: 4px; /* Aggiusta il bordo arrotondato */
  background-image: none; /* Rimuove la freccia nativa */
  background-color: transparent; /* Rende lo sfondo trasparente */
}

/* Nasconde la freccia su Internet Explorer e vecchi Edge */
select::-ms-expand {
  display: none;
}
