.underline-thick {
  text-decoration-thickness: 2px; /* o qualsiasi altro valore che preferisci */
}

.underlineC {
  text-decoration: underline;
  text-decoration-color: #9aff03; /* Colore rosso per l'underline */
  text-decoration-thickness: 4px;
  overflow: hidden;
  /* opacity:1; */
}

.underline-draw {
  text-decoration: underline;
  text-decoration-color: rgb(7, 102, 255); /* Colore rosso per l'underline */
  text-decoration-thickness: 4px;
  overflow: hidden;
}

.underlineF {
  text-decoration: underline;
  text-decoration-color: #9aff03; /* #c013b7 Colore rosso per l'underline */
  text-decoration-thickness: 4px;
  overflow: hidden;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard */
}
